
<h1>Hacker News</h1>

<ul>
<li> <% Post.all.each do |eachpost| %></li>
<li><%= eachpost.url %> 
  <p> by <%= eachpost.user.username %> | <a href="/comments/<%= eachpost.id %>"> <%= eachpost.comments.count %> comments</a></li>
<% end %> 
</ul>

<% if @notpass %>
<%= @notpass  %> <br>
<% end %>  

log in below 
<form action="/login" method="POST">
<label for="username"> User Name </label>
<input id="username" type="text" name="username"> <br>
<label for="password"> Password </label>
<input id="password" type="text" name="password"> 
<input type="submit" value="log in">
</form>
