
 
<h1><center><img src="/images/unicorn.jpg" style="height:75px"></img> Slacker News <img src="/images/unicorn.jpg" style="height:75px"></img></h1></center>

<ul>
<% Post.all.each do |eachpost| %>
  <li>
    <a class="vote" href="/vote/<%=eachpost.id%>">vote-up! | </a>
    <a id="unicorn" href="http://<%= eachpost.url %>"><%= eachpost.url %> </a>
    <div class="ajaxvotes" data-value="<%=eachpost.id%>"><%= eachpost.unicorns.first.try(:post_vote) %> votes</div> 
    <p> by <%= eachpost.user.username %> | <a href="/comments/<%= eachpost.id %>"> <%= eachpost.comments.count %> comments</a></p>
  </li>
<% end %> 
</ul>


<% if @notpass %>
<%= @notpass  %> <br>
<% end %>  

<% if session[:id] == nil %>
log in below 
<form action="/login" method="POST">
<label for="username"> User Name </label>
<input id="username" type="text" name="username"> <br>
<label for="password"> Password </label>
<input id="password" type="text" name="password"> <br>
<input type="submit" value="log in">
</form>
<% end %> 

<p><br></p>

<% if @mismatch %>
  <%= @mismatch %> <br>
 <% end %>  

<% if session[:id] == nil %>
Sign up below 
<form action="/signup" method="POST">
<label for="username"> User Name </label>
<input id="username" type="text" name="username"> <br>
<label for="password"> Password </label>
<input id="password" type="text" name="password"> <br>
<label for="password"> Confirm Password </label>
<input id="password" type="text" name="confirm_password"> <br>
<input type="submit" value="sign up">
</form>
<% end %> 

<% if session[:id] %>
<a href='/create_post'> Create Post </a><br>
<a href='/logout'> Log Out </a><br>
<a href='/profile/<%=session[:id]%>'> My profile page </a>
<% end %>

