
<h1>Slacker News</h1>

<ul>
<% Post.all.each do |eachpost| %>
<li><a href="http://<%= eachpost.url %>"><%= eachpost.url %></a>
  <p> by <%= eachpost.user.username %> | <a href="/comments/<%= eachpost.id %>"> <%= eachpost.comments.count %> comments</a></li>
<% end %> 
</ul>


<% if @notpass %>
<%= @notpass  %> <br>
<% end %>  

<% if session[:id] == nil %>
log in below 
<form action="/login" method="POST">
<label for="username"> User Name </label>
<input id="username" type="text" name="username"> <br>
<label for="password"> Password </label>
<input id="password" type="text" name="password"> <br>
<input type="submit" value="log in">
</form>
<% end %> 

<p><br></p>

<% if @mismatch %>
  <%= @mismatch %> <br>
 <% end %>  

<% if session[:id] == nil %>
Sign up below 
<form action="/signup" method="POST">
<label for="username"> User Name </label>
<input id="username" type="text" name="username"> <br>
<label for="password"> Password </label>
<input id="password" type="text" name="password"> <br>
<label for="password"> Confirm Password </label>
<input id="password" type="text" name="confirm_password"> <br>
<input type="submit" value="sign up">
</form>
<% end %> 

<% if session[:id] %>
<a href='/create_post'> Create Post </a><br>
<a href='/logout'> Log Out </a><br>
<a href='/profile/<%=session[:id]%>'> My profile page </a>
<% end %>

